*{
    box-sizing: border-box;
}

:root {
    --blueAngel: blue;
}

body, main {
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#top {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: aqua;
    border: 3px solid var(--blueAngel);
}

#top h1 {
    display: flex;
    justify-content: center;
}

#btn1, #btn2, #btn3, #btn4{
    display: none;
}

#viewHighScore{
    display: flex;
}

#timer, #timesUp {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: black;
    text-shadow: 2px 2px #ff0000;
}

#questionTitle{
    font-size: 40px;
}

#startBtn, a, #goBackBtn, #clearHighScoreBtn, #submitInitialBtn {
    color: rgb(255, 255, 255); 
    font-size: 20px; 
    line-height: 20px; 
    padding: 12px; 
    border-radius: 10px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#startBtn:hover, a:hover {
    background: #1C6EA4;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#startBtn:active, a:active {
    background: #144E75; 
}

#start h1 {
   text-shadow: 2px 2px #ff0000;
   font-size: 100px;
}

#btn1, #btn2, #btn3, #btn4 {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }

  #btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#break, footer {
    border-top: 3px solid var(--blueAngel);
}

/*footer box*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* media queries */
@media (max-width: 960px) {
	.main-header .container {
		justify-content: space-between;
	}

    #timer, #start h1{
        font-size: 40px;
    }
}